img {
  display: block;
  margin: auto;
  width: 100px;
}
h3 {
  color: #0a47a3;
}

.card:hover {
  background-color: rgba(245, 245, 245, 0.835);
  cursor: pointer;
  -webkit-box-shadow: 0px 0px 14px 3px rgba(194, 194, 194, 1);
  -moz-box-shadow: 0px 0px 14px 3px rgba(194, 194, 194, 1);
  box-shadow: 0px 0px 14px 3px rgba(194, 194, 194, 1);
}

.nota {
  font-size: 0.8rem;
}

.container {
  width: 72vw;
  background-color: white;
  padding: 5% 10%;
}