<div class="container d-flex justify-content-between">
  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12 mb-4">
      <div class="card h-100">
        <img src="../../../assets/services/medicamento.png" class="card-img-top pt-5" alt="...">
        <div class="card-body">
          <hr>
          <h3 class=" fs-5 text-center">Medicamentos</h3>
          <p class="card-text">Requerimientos:</p>
          <ul>
            <li>Fórmula médica donde se especifique el nombre y marca comercial del medicamento.</li>
            <li>Formato de fallo terapéutico o reacción adversa a medicamentos previamente diligenciado por el profesional de la salud.</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 mb-4">
      <div class="card h-100">
        <img src="../../../assets/services/cita.png" class="card-img-top pt-5" alt="...">
        <div class="card-body">
          <hr>
          <h3 class=" fs-5 text-center">Citas Médicas</h3>
          <p class="card-text">
            Por nuestra Oficina Virtual, podrás solicitar las siguientes citas para atenderte en centros médicos:
          </p>
          <ul>
            <li>Medicina general</li>
            <li>Pediatría</li>
            <li>Planificación familiar</li>
            <li>Odontología</li>
            <li>Optometria</li>
          </ul>
          <p  class="nota fst-italic fw-lighter">**Para asignar citas de otras especialidades debes comunicarte a la línea telefónica indicada en tu orden médica.</p>
        </div>
      </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 mb-4">
      <div class="card h-100">
        <img src="../../../assets/services/resultado-medico.png" class="card-img-top pt-5" alt="...">
        <div class="card-body">
          <hr>
          <h3 class=" fs-5 text-center">Consulta de resultados</h3>
          <p class="card-text">
            Algunos tipos de resultados médicos
          </p>
          <ul>
            <li>Niveles de laboratorio</li>
            <li>Imágenes médicas</li>
            <li>Informes de patología</li>
            <li>Pruebas de función</li>
            <li>Evaluaciones clínicas</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 mb-4">
      <div class="card h-100">
        <img src="../../../assets/services/muestra-de-sangre.png" class="card-img-top pt-5" alt="...">
        <div class="card-body">
          <hr>
          <h3 class=" fs-5 text-center">Laboratorios</h3>
          <ul>
            <li>Química clínica</li>
            <li>Microbiología</li>
            <li>Hematología</li>
            <li>Inmunología</li>
            <li>Genética</li>
            <li>Anatomía patológica</li>
          </ul>
        </div>
      </div>
    </div>
  </div>