<div class="container">
  <div class="row d-flex justify-content-center">
    <div class="col">
      <div class="row">
        <div class="colcarousel-item active mb-5">
          <img src="../../../assets/home/pediatria.png" class="d-block imagen" alt="...">
        </div>
      </div>
      
      <h2>Acerca de nosotros</h2>
      <p class="texto">En Angular EPS, estamos comprometidos con el bienestar y la salud de nuestros afiliados. Desde
        nuestros comienzos, hemos trabajado arduamente para ofrecer servicios de alta calidad y atención médica oportuna
        y
        efectiva.
        <br><br>
        Nos enorgullece contar con una red de profesionales de la salud altamente capacitados y experimentados, que
        trabajan
        incansablemente para brindar una atención personalizada a cada uno de nuestros afiliados. Además, contamos con
        una
        amplia gama de servicios médicos y programas de prevención de enfermedades, diseñados para satisfacer las
        necesidades individuales de nuestros pacientes.
        <br><br>
        En Angular EPS, nos esforzamos por estar a la vanguardia de la tecnología y la innovación médica, para poder
        brindar
        una atención médica de la más alta calidad y mantenernos a la vanguardia en nuestra industria. Creemos que el
        acceso
        auna atención médica asequible y de calidad es un derecho fundamental de todos los colombianos, y nos esforzamos
        por
        hacer que este acceso sea una realidad para cada uno de nuestros afiliados.
        <br><br>
        En resumen, en Angular EPS, estamos comprometidos con ofrecer servicios de atención médica de alta calidad,
        personalizados y accesibles para nuestros afiliados. Continuaremos trabajando arduamente para mantenernos a la
        vanguardia en nuestra industria, y para mejorar constantemente nuestros servicios para satisfacer las
        necesidades de
        nuestros pacientes.
      </p>
      <hr>
      <h2>Misión</h2>
      <p class="texto">Nuestra misión es ofrecer servicios de atención médica integrales, efectivos y personalizados a
        nuestros afiliados, con un enfoque en la prevención y el manejo de enfermedades crónicas y agudas. Estamos
        comprometidos a brindar servicios de alta calidad, innovación y tecnología de última generación, que aseguren la
        satisfacción y bienestar de nuestros pacientes. Además, trabajamos para contribuir a la construcción de una
        sociedad más saludable y sostenible, mediante la promoción de estilos de vida saludables y la prevención de
        enfermedades.</p>
      <hr>
      <h2>Visión</h2>
      <p class="texto">Nuestra visión es convertirnos en la principal empresa prestadora de salud en Colombia,
        reconocida por nuestro compromiso con la excelencia en la atención médica, la innovación y la mejora continua.
        Queremos liderar el camino en la transformación del sector salud en Colombia, mejorando la vida de nuestros
        afiliados y contribuyendo al bienestar de la sociedad en general.</p>
      <hr>
      <h2>Valores</h2>
      <p>Para cumplir con nuestra misión y visión, nos guiamos por los siguientes valores: </p>
      <ul>
        <li><b>Ética:</b> actuamos con integridad, respeto y honestidad en todas nuestras relaciones con nuestros
          afiliados, proveedores y empleados.</li>
        <li><b>Calidad:</b> nos comprometemos a ofrecer servicios de la más alta calidad, en línea con los estándares y
          mejores prácticas nacionales e internacionales.</li>
        <li><b>Innovación: </b>estamos siempre buscando nuevas formas de mejorar nuestros servicios, a través de la
          innovación, la tecnología y la creatividad.</li>
        <li><b>Trabajo en equipo:</b>trabajamos en colaboración con nuestros afiliados, proveedores y empleados,
          fomentando el trabajo en equipo y la comunicación efectiva.</li>
        <li><b>Responsabilidad social:</b>nos preocupamos por el bienestar de la sociedad en su conjunto, y nos
          esforzamos por contribuir a la construcción de una sociedad más saludable y sostenible, mediante la promoción
          de estilos de vida saludables y la prevención de enfermedades.</li>
      </ul>
    </div>
  </div>


</div>