<div>
  <nav class="navbar navbar-expand-lg navbar-dark fixed-top shadow p-3 mb-5">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="./">
        <img src="../../../../assets/cuidado-de-la-salud.png" alt="" style="width: 35px;">Angular EPS</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse d-flex justify-content-between" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <div class="d-flex justify-content-between">
            <a class="nav-link m-1" routerLink="./">Inicio</a>
            <a class="nav-link m-1" routerLink="servicios">Servicios</a>
            <a class="nav-link m-1" routerLink="contacto">Contacto</a>
            <!-- <a class="nav-link m-1" routerLink="administradores">Administradores</a>
            <a class="nav-link m-1" routerLink="doctores">Doctores</a>
            <a class="nav-link m-1" routerLink="afiliados">Afiliados</a> -->

          </div>

        </div>
        <div class="d-flex justify-content-end">
            <button mat-raised-button routerLink="/iniciarSesion">Iniciar Sesión</button>
        </div>
      </div>
    </div>
  </nav>
</div>