<div class="card bg-dark">
  <div class="row mb-4 ">

    <div class="col-md-4 col-sm-11 col-xs-11">
      <div class="footer-text pull-left">
        <div class="d-flex">
          <img src="../../../../assets/cuidado-de-la-salud.png" alt="" style="height: 45px;">
          <h1 class="font-weight-bold mr-2 px-3 bg-primary text-dark"> Angular </h1>
          <h1 class="text-primary">EPS</h1>
        </div>
        <p class="card-text">En Angular EPS estamos comprometidos con ofrecer servicios de atención médica de alta calidad, personalizados y accesibles para nuestros afiliados. Continuaremos trabajando arduamente para mantenernos a la vanguardia en nuestra industria, y para mejorar constantemente nuestros servicios para satisfacer las necesidades de nuestros pacientes.</p>

        <div class="social mt-2 mb-3">

          <i class="fa fa-facebook-official fa-lg"></i>
          <i class="fa fa-instagram fa-lg"></i>
          <i class="fa fa-twitter fa-lg"></i>
          <i class="fa fa-linkedin-square fa-lg"></i>
          <i class="fa fa-facebook"></i>

        </div>

      </div>
    </div>
    <div class="col-md-2 col-sm-1 col-xs-1 mb-2"></div>
    <div class="col-md-2 col-sm-4 col-xs-4">

      <h5 class="heading">Servicios</h5>
      <ul>
        <li>Consultas médicas</li>
        <li>Hospitalización</li>
        <li>Laboratorios</li>
        <li>Psicología</li>
      </ul>
    </div>
    <div class="col-md-2 col-sm-4 col-xs-4">

      <h5 class="heading">Industries</h5>
      <ul class="card-text">
        <li>Finance</li>
        <li>Public Sector</li>
        <li>Smart Office</li>
        <li>Retail</li>
      </ul>

    </div>


    <div class="col-md-2 col-sm-4 col-xs-4">
      <h5 class="heading">Company</h5>
      <ul class="card-text">
        <li>About Us</li>
        <li>Blog</li>
        <li>Contact</li>
        <li>Join Us</li>
      </ul>
    </div>
  </div>
  <div class="row" style="font-size:10px;">
    <div class="col-md-6 col-sm-6 col-xs-6">
      <div class="pull-left">
        <p><i class="fa fa-copyright"></i> 2020 thezpdesign</p>
      </div>
    </div>
    <div class="col-md-6 col-sm-6 col-xs-6">
      <div class="pull-right mr-4 d-flex policy">
        <div>Terms of Use</div>
        <div>Privacy Policy</div>
        <div>Cookie Policy</div>
      </div>
    </div>
  </div>
</div>