<div class="container">

  <div class="row">
    <h2>Contáctenos</h2>
    <p class="texto fw-lighter">Si necesita información no dude en contactarnos. En Angular EPS resolvemos sus
      inquietudes, brindándole la mejor asistencia y respuesta inmediata, junto con el mejor servicio de salud en todo
      Colombia</p>
    <p class="texto fw-lighter">A través de este canal usted puede comunicarse las 24 horas de los 7 días de la semana
      para presentar PQRD y Solicitudes de Información relacionados con la prestación de servicios de salud.</p>
  </div>
  <div class="row my-5 d-flex justify-content-between">
    <div class="col mb-5 horario d-flex align-items-center">
      <div>
        <p>Horario laboral <br><br>
          Lun - Vie: 9:00 - 19:00 <br>
          Sábado: 9:00 - 16:00 <br>
          Domingo: Cerrado</p>
        <hr>
        <p class="texto">
          PBX: 601 564 2030 <br>
          Línea Gratuita Nacional:<br> 01 8000 573 739 <br>
          Fax: 601 564 2030 (4)
          <br><br>
        </p>
      </div>

    </div>
    <div class="col col-sm-12 col-md-8 d-flex justify-content-end">
      <div class="container-form">

        <div class="row">
          <div class="card">
            <form id="contact-form" role="form">
              <div class="controls">
                <div class="row d-flex justify-content-end">
                  <div class="text-center pb-2">
                    <h2>Ingresa tus datos</h2>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="form_name">Nombre *</label>
                      <input id="form_name" type="text" name="name" class="form-control" placeholder="Ingrese su nombre"
                        required="required" data-error="Un nombre es requerido">
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="form_lastname">Apellidos *</label>
                      <input id="form_lastname" type="text" name="surname" class="form-control"
                        placeholder="Ingrese sus apellidos" required="required" data-error="Un apellido es requerido">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="form_email">Correo electrónico *</label>
                      <input id="form_email" type="email" name="email" class="form-control"
                        placeholder="ingrese su correo" required="required"
                        data-error="Un correo electrónico es requerido">
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="form_need">Seleccione el tipo de solicitud *</label>
                      <select id="form_need" name="need" class="form-control" required="required"
                        data-error="Please specify your need.">
                        <option value="" selected disabled>--Seleccione el tipo de solicitud--</option>
                        <option>Pregunta</option>
                        <option>Queja</option>
                        <option>Relcamo</option>
                        <option>Denuncia</option>
                        <option>Solicitud información</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <label for="form_message">Mensaje *</label>
                      <textarea id="form_message" name="message" class="form-control"
                        placeholder="Escriba su mensaje aquí" rows="4" required="required"
                        data-error="Por favor, deja un mensaje"></textarea>
                    </div>
                  </div>
                  <div class="col-md-12 p-2 d-flex justify-content-center">
                    <input type="button" class="btn btn-send  pt-2 btn-block" value="Enviar">
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>