<div class="app-container appContainer" id="app-container">
  <div class="app-header">
    <div class="app-header-left">
      <span class="app-icon"></span>
      <p class="app-name">Inicio</p>
      <div class="search-wrapper">
        <input class="search-input" type="text" placeholder="Buscar">
        <button class="moon"><mat-icon>search</mat-icon></button>
      </div>
    </div>
    <div class="app-header-right">

      <button title="Switch Theme" class="moon" (click)="toggleDarkTheme()"><mat-icon>brightness_4</mat-icon></button>
      <button class="notification-btn"><mat-icon>notifications_none</mat-icon></button>
      <button class="profile-btn" [matMenuTriggerFor]="menu">
        <div class="avatar rounded-circle">
          <img
            [src]="profile?.photoProfile || 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSOH2aZnIHWjMQj2lQUOWIL2f4Hljgab0ecZQ&usqp=CAU'"
            alt="">
        </div>
        <span>{{user.fullName}}</span>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item><mat-icon>account_circle</mat-icon>
          <span>Ver Perfil</span>
        </button>
        <button mat-menu-item (click)="file.click()"><mat-icon>camera_alt</mat-icon>
          <span>Editar foto de perfil</span>
          <input #file type="file" id="myfile" name="myfile" accept="image/*" (change)="uploadImage($event)" hidden>
        </button>
        <div class="text-center mt-2" (click)="logout();">
          <button mat-menu-item><mat-icon>exit_to_app</mat-icon>
            <span>Cerrar sesión</span>
          </button>
        </div>
      </mat-menu>
    </div>
    <!-- <button class="messages-btn"><mat-icon svgIcon="message-circle" aria-hidden="false"></mat-icon></button> -->
  </div>
  <div class="app-content">
    <div class="app-sidebar">
      <!-- <a href="" class="app-sidebar-link active"><mat-icon svgIcon="home" aria-hidden="false"></mat-icon></a>
      <a href="" class="app-sidebar-link"><mat-icon svgIcon="pie-chart" aria-hidden="false"></mat-icon></a>
      <a href="" class="app-sidebar-link"><mat-icon svgIcon="calendar" aria-hidden="false"></mat-icon></a>
      <a href="" class="app-sidebar-link"><mat-icon svgIcon="settings" aria-hidden="false"></mat-icon></a> -->
    </div>
    <div class="projects-section">
      <div class="projects-section-header">
        <p>Citas Medicas</p>
        <p class="time">{{clock}}</p>
      </div>
      <div class="projects-section-line">
        <div class="projects-status">
          <div class="item-status">
            <span class="status-number">2</span>
            <span class="status-type">Próximas</span>
          </div>
          <div class="item-status">
            <span class="status-number">7</span>
            <span class="status-type">Finalizadas</span>
          </div>
          <div class="item-status">
            <span class="status-number">16</span>
            <span class="status-type">Del último año</span>
          </div>
        </div>
        <div class="view-actions">
          <button class="view-btn list-view" title="List View">
            <mat-icon>list</mat-icon>
          </button>
          <button class="view-btn grid-view active" title="Grid View">
            <mat-icon>view_module</mat-icon>
          </button>
        </div>
      </div>
      <div class="project-boxes jsGridView">
        <div class="project-box-wrapper" matRipple [matRippleRadius]=20 [matRippleColor]="'white'">
          <div class="project-box add">
            <div class="project-box-add">
              <div class="add-div">
                <mat-icon>add</mat-icon>
              </div>
            </div>
          </div>
        </div>
        <div class="project-box-wrapper">
          <div class="project-box" style="background-color: #fee4cb;">
            <div class="project-box-header">
              <span>{{clock}}</span>
              <div class="more-wrapper">
                <mat-icon class="more-vert" [matMenuTriggerFor]="beforeMenu">more_vert</mat-icon>
                <mat-menu #beforeMenu="matMenu" xPosition="after">
                  <button mat-menu-item>Cambiar fecha</button>
                  <button mat-menu-item>Eliminar</button>
                </mat-menu>
              </div>
            </div>
            <div class="project-box-content-header">
              <p class="box-content-header">Medicina general</p>
              <p class="box-content-subheader">Nombre del doctor</p>
            </div>
            <div class="box-progress-wrapper">
              <p class="box-progress-header">Progreso</p>
              <div class="box-progress-bar">
                <span class="box-progress" style="width: 50%; background-color: #ff942e"></span>
              </div>
              <p class="box-progress-percentage">50%</p>
              <p class="box-content-subheader">Cita asignada</p>
            </div>
            <div class="project-box-footer">
              <div class="days-left" style="color: #ff942e;">
                2 Días Restantes
              </div>
            </div>
          </div>
        </div>
        <div class="project-box-wrapper">
          <div class="project-box" style="background-color: #e9e7fd;">
            <div class="project-box-header">
              <span>{{clock}}</span>
              <div class="more-wrapper">
                <mat-icon class="more-vert" [matMenuTriggerFor]="beforeMenu">more_vert</mat-icon>
                <mat-menu #beforeMenu="matMenu" xPosition="after">
                  <button mat-menu-item>Cambiar fecha</button>
                  <button mat-menu-item>Eliminar</button>
                </mat-menu>
              </div>
            </div>
            <div class="project-box-content-header">
              <p class="box-content-header">Medicina general</p>
              <p class="box-content-subheader">Nombre del doctor</p>
            </div>
            <div class="box-progress-wrapper">
              <p class="box-progress-header">Progreso</p>
              <div class="box-progress-bar">
                <span class="box-progress" style="width: 50%; background-color: #4f3ff0"></span>
              </div>
              <p class="box-progress-percentage">50%</p>
              <p class="box-content-subheader">Cita asignada</p>
            </div>
            <div class="project-box-footer">
              <div class="days-left" style="color: #4f3ff0;">
                2 Días Restantes
              </div>
            </div>
          </div>
        </div>
        <div class="project-box-wrapper">
          <div class="project-box">
            <div class="project-box-header">
              <span>{{clock}}</span>
              <div class="more-wrapper">
                <mat-icon class="more-vert" [matMenuTriggerFor]="beforeMenu">more_vert</mat-icon>
                <mat-menu #beforeMenu="matMenu" xPosition="after">
                  <button mat-menu-item>Cambiar fecha</button>
                  <button mat-menu-item>Eliminar</button>
                </mat-menu>
              </div>
            </div>
            <div class="project-box-content-header">
              <p class="box-content-header">Psicología</p>
              <p class="box-content-subheader">Nombre del doctor</p>
            </div>
            <div class="box-progress-wrapper">
              <p class="box-progress-header">Progreso</p>
              <div class="box-progress-bar">
                <span class="box-progress" style="width: 80%; background-color: #096c86"></span>
              </div>
              <p class="box-progress-percentage">80%</p>
              <p class="box-content-subheader">Cita confirmada</p>
            </div>
            <div class="project-box-footer">
              <div class="days-left" style="color: #096c86;">
                2 Días Restantes
              </div>
            </div>
          </div>
        </div>
        <div class="project-box-wrapper">
          <div class="project-box" style="background-color: #ffd3e2;">
            <div class="project-box-header">
              <span>{{clock}}</span>
              <div class="more-wrapper">
                <mat-icon class="more-vert" [matMenuTriggerFor]="beforeMenu">more_vert</mat-icon>
                <mat-menu #beforeMenu="matMenu" xPosition="after">
                  <button mat-menu-item>Cambiar fecha</button>
                  <button mat-menu-item>Eliminar</button>
                </mat-menu>
              </div>
            </div>
            <div class="project-box-content-header">
              <p class="box-content-header">Medicina interna</p>
              <p class="box-content-subheader">Nombre del doctor</p>
            </div>
            <div class="box-progress-wrapper">
              <p class="box-progress-header">Progreso</p>
              <div class="box-progress-bar">
                <span class="box-progress" style="width: 80%; background-color: #df3670"></span>
              </div>
              <p class="box-progress-percentage">80%</p>
              <p class="box-content-subheader">Cita confirmada</p>
            </div>
            <div class="project-box-footer">
              <div class="days-left" style="color: #df3670;">
                2 Días Restantes
              </div>
            </div>
          </div>
        </div>
        <div class="project-box-wrapper">
          <div class="project-box" style="background-color: #c8f7dc;">
            <div class="project-box-header">
              <span>{{clock}}</span>
              <div class="more-wrapper">
                <mat-icon class="more-vert" [matMenuTriggerFor]="beforeMenu">more_vert</mat-icon>
                <mat-menu #beforeMenu="matMenu" xPosition="after">
                  <button mat-menu-item>Cambiar fecha</button>
                  <button mat-menu-item>Eliminar</button>
                </mat-menu>
              </div>
            </div>
            <div class="project-box-content-header">
              <p class="box-content-header">Nutrición</p>
              <p class="box-content-subheader">Nombre del doctor</p>
            </div>
            <div class="box-progress-wrapper">
              <p class="box-progress-header">Progreso</p>
              <div class="box-progress-bar">
                <span class="box-progress" style="width: 80%; background-color: #34c471"></span>
              </div>
              <p class="box-progress-percentage">80%</p>
              <p class="box-content-subheader">Cita confirmada</p>
            </div>
            <div class="project-box-footer">
              <div class="days-left" style="color: #34c471;">
                2 Días Restantes
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
    <div class="messages-section">
      <!-- <button class="messages-close">
        <mat-icon>close</mat-icon>
      </button> -->
      <div class="projects-section-header">
        <p>Recordatorios</p>
      </div>
      <div class="messages">
        <div class="message-box">
          <div class="message-content">
            <div class="message-header">
              <div class="name"><Span>Angular EPS</Span></div>
              <div class="star-checkbox">
                <input type="checkbox" id="star-1">
                <label for="star-1"><mat-icon>star_border</mat-icon></label>
              </div>
            </div>
            <p class="message-line">
              Recuerda llevar contigo tu documento de identidad y tu tarjeta de seguro médico, si cuentas con ella.
            </p>
            <p class="message-line time">
              <span>{{clock}}</span>
            </p>
          </div>
        </div>
        <div class="message-box">
          <div class="message-content">
            <div class="message-header">
              <div class="name"><Span>Angular EPS</Span></div>
              <div class="star-checkbox">
                <input type="checkbox" id="star-2">
                <label for="star-2"><mat-icon>star_border</mat-icon></label>
              </div>
            </div>
            <p class="message-line">
              Si tienes síntomas de alguna enfermedad infecciosa, como tos, fiebre o dolor de garganta, es importante
              que avises al personal de salud para tomar las medidas necesarias.
            </p>
            <p class="message-line time">
              Dec, 12
            </p>
          </div>
        </div>
        <div class="message-box">
          <div class="message-content">
            <div class="message-header">
              <div class="name"><Span>Angular EPS</Span></div>
              <div class="star-checkbox">
                <input type="checkbox" id="star-3">
                <label for="star-3"><mat-icon>star_border</mat-icon></label>
              </div>
            </div>
            <p class="message-line">
              Awesome! 🤩 I like it. We can schedule a meeting for the next one.
            </p>
            <p class="message-line time">
              Dec, 12
            </p>
          </div>
        </div>
        <div class="message-box">
          <div class="message-content">
            <div class="message-header">
              <div class="name"><Span>Angular EPS</Span></div>
              <div class="star-checkbox">
                <input type="checkbox" id="star-1">
                <label for="star-1">
                  <mat-icon class="feather feather-star">star_bordered</mat-icon>
                </label>
              </div>
            </div>
            <p class="message-line">
              I am really impressed! Can't wait to see the final result.
            </p>
            <p class="message-line time">
              Dec, 11
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>