// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$AngularEPS-primary: mat.define-palette(mat.$indigo-palette);
$AngularEPS-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$AngularEPS-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$AngularEPS-theme: mat.define-light-theme((color: (primary: $AngularEPS-primary,
        accent: $AngularEPS-accent,
        warn: $AngularEPS-warn,
      )));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($AngularEPS-theme);

/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: rgba(238, 238, 237, 0.694);
}

body {
  --text-color: #222;
  --bkg-color: #fff;
  --btn-txt-color: #222;
  --btn-bg-color: rgb(11, 88, 160);
}
body.dark {
  --text-color: #ffffff;
  --bkg-color: #252222;
  --btn-txt-color: #ffffff;
  --btn-bg-color: rgb(20, 211, 195);
  h1, p, span {
    color: var(--text-color);
  }
  .mat-mdc-menu-panel.mat-mdc-menu-panel {
    background-color: var(--bkg-color);

    span,
    .mat-icon {
      color: var(--text-color);
    }
  }
}

body {
  background: var(--bkg-color);
}

h1, p, span, .project-boxes span {
  color: var(--text-color);
}
button {
  color: var(--btn-txt-color);
}